
@{
    ViewData["Title"] = "AtualizarSenhaUsuarios";
}


<div style="padding-left: 5%; padding-top: 1%; padding-right: 5%">
    <div>
        <a id="fechar" asp-controller="Home" asp-action="Index"> <img style="width: 28px;" src="~/images/fechar.svg" /></a>
        <h4>Atualizar Senha<img style="width: 20px;" src="~/images/loader.gif" id="loaderImg" hidden></h4>
    </div>
    <hr />

    <form asp-controller="Usuarios" asp-action="AtualizarSenhaUsuariosPost" method="post" onsubmit="disableObj(AtualizarBtn);disableObj(CancelarBtn);showObj(loaderImg)">
        <input class="input input-sm" autocomplete="off" id="id" name="id" type="hidden" value="@ViewBag.id" />
        <div class="form-row">

            <div class="form-group col-md-2">
                <label for="senhaatual">Senha atual</label>
                <br />
                <input class="form-control" autocomplete="off" id="senha_atual" name="senha_atual" type="password" />
            </div>

            <div class="form-group col-md-2">
                <label for="senhaatual">Nova senha</label>
                <br />
                <input class="form-control" autocomplete="off" id="senha_nova" name="senha_nova" type="password" />
            </div>

            <div class="form-group col-md-2">
                <label for="senhaatual">Confirmar nova senha</label>
                <br />
                <input class="form-control" autocomplete="off" id="senha_nova_conf" name="senha_nova_conf" type="password" />
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-success col-5" id="AtualizarBtn" type="submit"><i class="fas fa-check"></i> Alterar</button>
                <a class="btn btn-danger col-5" asp-controller="Home" asp-action="Index"><i class="fas fa-times"></i> Cancelar</a>
            </div>
        </div>

    </form>
    <hr />


    @if (ViewBag.responseStatusCode == "OK")
    {
        @if (ViewBag.erro || ViewBag.linhasafetadas == 0)
        {
            <h4 style="color : red">@ViewBag.mensagem</h4>
        }
        else
        {
            @if (ViewBag.linhasafetadas >= 1)
            {
                <h4 style="color : green">Senha atualizada.</h4>
            }
        }
    }
    else
    {
        <h4 style="color : red"> @ViewBag.responseStatusCode </h4>
    }
</div>

